@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fabricio Silva da Rocha </h1>
    <p>Desafio técnico  <a href="https://frwk.com.br/">FrameWork</a>.</p>
    <h3 class="display-4">Contato</h3>
    <p>Celular/Whatsapp: (31)984469354</p>
    <p>Email: fsilvarocha@gmail.com</p>
</div>
